*{
	padding: 0;
	margin: 0;
}
#wrapGame{
	width: 343px;
	height: 480px;
	background-image: url(../img/bg.jpg);
	margin: 30px auto;
	position: relative;
	overflow: hidden;
}
#head{
	width: 230px;
	height: 77px;
	background-image: url(../img/head.jpg);
	position: absolute;
	top: 110px;
	left: 50%;
	margin-left: -115px;
	/*border: 1px solid red;*/
	
}
#head img{
	position: absolute;
	right: 0;
	top: 40%;
	/*添加animate动画*/
	animation: "flyBird" 2s linear infinite;
}
#startMenu{
	position: absolute;
	top: 230px;
	left: 50%;
	margin-left: -40px;
}
#endMenu{
	position: absolute;
	top: 110px;
	left: 35px;
	display: none;
	
}
#currentScore{
	position: absolute;
	right: 45px;
	top: 40px;
}
#bestScore{
	position: absolute;
	right: 45px;
	top: 90px;
}
#pipes{
	height: 423px;
	list-style-type: none;
	/*border: 2px solid black;*/
	
	
}
.pipe{
	width: 62px;
	height: 423px;
	position: absolute;
	
	
}
.up_pipe{
	width: 62px;
	background: url(../img/up_pipe.png) bottom no-repeat,url(../img/up_mod.png) repeat-y;
	position: absolute;
	top: 0;
}
.down_pipe{
	width: 62px;
	background: url(../img/down_pipe.png) no-repeat,url(../img/down_mod.png)  repeat-y;
	position: absolute;
	bottom: 0;
	
}
#bird{
	position: absolute;
	left: 60px;
	top: 40%;
	display: none;
}
#score{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -14px;
	display: none;
}
#grass{
	width: 686px;
	position: absolute;
	left: 0;
	bottom: 43px;
	
}
#grass img{
	float: left;
	width: 343px;
}



/*创建动画*/
@keyframes flyBird{
	0%{
		top: 40%;
		
	}
	25%{
		top: 10%;
	}
	50%{
		top: 40%;
	}
	75%{
		top: 60%;
	}
	100%{
		top: 40%;
		
	}
	
}
